body {
    background-color: #212121;
}

.List {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.List h1 {
    color: hsl(349, 100%, 47%);
    font-size: 4em;
    text-shadow: 0 0 2px hsl(349, 100%, 47%);
    animation: animate 3s linear infinite;
}

@keyframes animate {
    50%{
        text-shadow: 0 0 7px hsl(349, 100%, 47%);
    }
}

.List ul {
    list-style-type: none;
    font-size: 2rem;
    color: hsl(38, 100%, 51%);
    text-shadow: 0 0 1px hsl(38, 100%, 51%);
    animation: animate-yellow 3s linear infinite;
}

.List li:hover {
    color: hsl(38, 100%, 56%);
    text-shadow: 0 0 4px hsl(38, 100%, 56%);
    cursor: pointer;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

@keyframes animate-yellow {
    50%{
        text-shadow: 0 0 4px hsl(38, 100%, 51%);
    }
}

.add-task {
    display: flex;
    justify-content: center;
}

.add-task div {
    background-color: #323232;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.List input {
    width: 300px;
    height: 2.5rem;
    font-size: 1.25rem;
    border: none;
    padding: 10px;
    margin-left: 5px;
    background-color: #32323200;
    color: hsl(175, 100%, 54%);
    text-shadow: 0 0 4px hsl(175, 100%, 54%);
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    animation: animate-blue 3s linear infinite;
}

.List button {
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: #32323200;
    border: none;
    color: hsl(175, 100%, 54%);
    text-shadow: 0 0 4px hsl(175, 100%, 54%);
    cursor: pointer;
    padding-right: 15px;
    outline: none;
    animation: animate-blue 3s linear infinite;
}

@keyframes animate-blue {
    50%{
        text-shadow: 0 0 4px hsl(175, 100%, 54%);
    }
}